@using Umbraco.ViewModels
@using Umbraco.Web;
@inject UmbracoContext UmbracoContext
@model Umbraco.Web.Models.PublishedContent

@{
    ViewData["Title"] = Model.Name;
}
<hr/>
<section>

    <h1>@Model.Name</h1>

    <p>Hello world, I'm an Umbraco document</p>

    @if (ViewBag.warning != null)
    {
        <div class="alert alert-warning">
            @ViewBag.warning
        </div>
     }

    @Html.Partial("~/Views/Partials/UmbracoForm.cshtml", new UmbracoFormTest())
</section>