@using Umbraco.Web;
@inject UmbracoContext UmbracoContext
@model Umbraco.Web.Models.PublishedContent

@{
    ViewData["Title"] = Model.Name;
}
<hr/>
<section>

    <h1>@Model.Name</h1>

    <p>Hello world, I'm an Umbraco document</p>

    @if (ViewBag.warning != null)
    {
        <div class="alert alert-warning">
            @ViewBag.warning
        </div>
     }

    <div>
        @using (Html.BeginUmbracoForm(UmbracoContext, "DoThis", "TestSurface"))
        {
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }        
    </div>
</section>